{% extends "base.html.jinja" %}
{% load static %}
{% block content %}
<div class="row gx-5 justify-content-center mt-4">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <img src="{% static 'assets/swift-hybrid.png' %}" class="card-img-top" alt="Suzuki Swift">
                                <div class="mb-3">
                                    <h2 class="h4 fw-bolder">Suzuki Swift</h2>
                                    <span class="display-4 fw-bold">100 zł</span>
                                    <span class="text-muted">/ dzień.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>5-osobowy</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Paliwo - PB/ON/HEV
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Skrzynia biegów manualna
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Rezerwuj</a></div>
                            </div>
                        </div>
                    </div>
    {% for category in categories %}
        <h3>{{category}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for car in cars %}
            {% if car.category == category %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        {{car.brand}} {{car.model}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">Silnik <span class="badge text-bg-primary rounded-pill">{{car.engine_type}}</span></p>
                        <p class="card-text">Liczba osób <span class="badge text-bg-primary rounded-pill">{{car.seats_count}}</span></p>
                        <a href="{% url 'rent' car_id=car.id %}" class="btn btn-primary">Wypożycz</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        2 days ago
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    <div class="container mb-3 mt-3">
        {{cars2 | safe}}
    </div>
{% endblock content %}
{% block script %}
    <script>let table = new DataTable('#cars2');</script>
{% endblock script %}